@import "./lib/header.styl"
body
    font-size:base-font-size

    .background
        position:absolute
        width:100%
        height:100%
        image-wauto('background1.jpg')
        background-size:cover

    .title
        image-wauto('title2.png')
        width:100%
        position:relative
        height:20%
        top:0
        z-index:1
        background-position:top
    .uploadPic
        position:relative
        .showPic
            width:0.8rem
            height:0.8rem
            position:relative
            margin:0 auto
            background-size:100%
            background-position:center
            background-color:rgba(255,255,255,0.5)
            background-repeat:no-repeat
        .name
            position:absolute
            bottom:0.04rem
            right:0.12rem
            font-size:0.06rem
            color:#fff
        .go-left
            width:0.1rem
            height:0.4rem
            image-wauto('go-left.png')
            position:absolute
            background-position:center
            left:0.05rem
            z-index:2
            top:0.2rem
        .go-right
            width:0.1rem
            height:0.4rem
            image-wauto('go-right.png')
            position:absolute
            background-position:center
            right:0.05rem
            z-index:2
            top:0.2rem
    .buttonArea
        position:relative
        width:100%
        margin-top:0.1rem
        div.btn-area
            position:relative
            .left-tickets
                font-size:0.04rem
                text-align:center
                color:#fadc50
            div.btn-left
                display:inline-block
                width:50%
                button#like1
                    border:none
                    image-wauto('like1.png')
                    margin:0 auto
                    display:block
                    width:0.35rem
                    height:0.11rem
                    background-color:transparent
            div.btn-right
                display:inline-block
                width:50%
                button#like2
                    border:none
                    image-wauto('like2.png')
                    margin:0 auto
                    display:block
                    width:0.35rem
                    height:0.11rem
                    background-color:transparent
    .index
        position:absolute
        color:#fff
        right:0.04rem
        bottom:0.04rem
