@import '../../bower_components/bootstrap/dist/css/bootstrap.min.css';

body
    .background
        position:absolute
        height:100%
        width:100%
        background-image:url('/static/image/background-pc.jpg')
        background-repeat:no-repeat
        background-size:100% 100%
        background-position:center
        .title1
            background-image:url('/static/image/title-rank1.png')
            background-repeat:no-repeat
            background-size:100% auto
            top:0
            height:155px
            width:90%
            position:relative
        .title2
            background-image:url('/static/image/title-rank2.png')
            background-repeat:no-repeat
            background-size:100% auto
            top:0
            height:155px
            width:90%
            position:relative
        .rankArea
            .table-tr
                background-image:url('/static/image/table-tr.png')
                background-size:100% auto
                background-repeat:no-repeat
                background-position:top
                width:90%
                margin:0 auto
                height:40px
            .tr-border
                width:80%
                margin:0 auto
                margin-top:5px
                position:relative
                height:36px
                background-image:url('/static/image/tr-border.png')
                background-size:100% auto
                background-repeat:no-repeat
                background-position:top
                font-size:25px
                .prize1
                    background-image:url('/static/image/prize1.png')
                    background-size:100% auto
                    background-repeat:no-repeat
                    background-position:top
                    width:25px
                    height:25px
                    position:absolute
                    left:-12px
                    top:-7px
                .prize2
                    background-image:url('/static/image/prize2.png')
                    background-size:100% auto
                    background-repeat:no-repeat
                    width:25px
                    height:25px
                    background-position:top
                    position:absolute
                    left:-12px
                    top:-7px
                .prize3
                    background-image:url('/static/image/prize3.png')
                    background-size:100% auto
                    background-repeat:no-repeat
                    background-position:top
                    width:25px
                    height:25px
                    position:absolute
                    left:-12px
                    top:-7px
                .rank
                    display:inline-block
                    line-height:36px
                    width:15%
                    text-align:center
                    color:#fff
                .name
                    display:inline-block
                    line-height:36px
                    width:70%
                    text-align:center
                    color:#fff
                .tickets
                    display:inline-block
                    line-height:36px
                    width:15%
                    text-align:center
                    color:#fff
            .left-container
                display:inline-block
                width:50%
                height:100%
                position:relative
            
            .right-container
                display:inline-block
                width:50%
                height:100%
                position:relative
            .total
                position:relative
                width:100%
                text-align:right
                font-size:25px
                margin-top:10px
                color:#fff

