<!DOCTYPE html><html lang="en"><head><meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0"><meta http-equiv="Content-Type" content="text/html" charset="utf-8"><meta name="format-detection" content="telephone=no"><script>!(function() {
    var rem;
    rem = function() {
        document.documentElement.style.fontSize = (document.documentElement.clientWidth || document.documentElement.clientWidth) + 'px';
    };
    rem();
    window.addEventListener('resize', rem, false);
    var _hmt = _hmt || []
})();</script><title>2016 Bluegate & Herby 年会盛典</title><link href="/static/css/like.css" rel="stylesheet" type="text/css"><script language="javascript" src="/static/js/like.js"></script></head></html><body><div class="background"><div class="title"></div><div class="uploadPic"><div class="showPic"></div><div class="go-left"></div><div class="go-right"></div><div class="name"></div></div><div class="buttonArea"><div class="btn-area"><div class="btn-left"><button id="like1" type="button"></button><div id="like1-tickets" class="left-tickets"></div></div><div class="btn-right"><button id="like2" type="button"></button><div id="like2-tickets" class="left-tickets"></div></div></div></div><div class="index"></div></div></body>