<!DOCTYPE html><html lang="en"><head><meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0"><meta http-equiv="Content-Type" content="text/html" charset="utf-8"><meta name="format-detection" content="telephone=no"><script>!(function() {
    var rem;
    rem = function() {
        document.documentElement.style.fontSize = (document.documentElement.clientWidth || document.documentElement.clientWidth) + 'px';
    };
    rem();
    window.addEventListener('resize', rem, false);
    var _hmt = _hmt || []
})();</script><title>2016 Bluegate & Herby 年会盛典 </title><link href="/static/css/login.css" rel="stylesheet" type="text/css"><script language="javascript" src="/static/js/login.js"></script></head></html><body><div class="background"><div class="title"></div><div class="loginArea"><div class="inputArea"><input id="login" type="input" placeholder="请输入姓名（拼音）"></div></div><div class="buttonArea"><button id="submit" type="button"></button></div></div></body>