include ./lib/header.jade
    title 2016 Bluegate & Herby 年会盛典 
    link(href="/static/css/login.css",rel="stylesheet",type="text/css")
    script(language="javascript",src="/static/js/login.js")
body
    div.background
        div.title=""
        div.loginArea
            div.inputArea
                input#login(type="input",placeholder="请输入姓名（拼音）")
        div.buttonArea
            button#submit(type="button")=""
