include ./lib/header.jade
    title 2016 Bluegate & Herby 年会盛典 
    link(href="/static/css/upload.css",rel="stylesheet",type="text/css")
    script(language="javascript",src="/static/js/upload.js")
body
    div.background
        div.title=""
        div.uploadPic
            div.showPic=""
            form#upload-file
                input(type="file",name="file") 
        div.buttonArea
            button#submit(type="button")=""
            div.upload-success 上传成功！
            div.upload-process=""
